/* Global Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
/* Header Styles */
  
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
header h1 {
    margin: 0;
    font-size: 40px;
    color: #1d1d1d;
  }
  

/* Navigation Styles */
nav {
    display: block;
}

header nav ul {
    display: flex;
    background-color: rgba(0,0,0 .65);
    justify-content: space-between;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    list-style-type: none;      
}

a {
    text-decoration: none;
    color: #fff;
    font-family: 'Alice', serif;
    letter-spacing: 5px;
}

nav a {
    color: #0c0c0c;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    transition: all 0.3s ease;
  }
  

nav a:hover {
    color: #f7e6d4;
    background-color: #5e5964;
  }

  nav li {
    border-bottom: 1px solid #ddd;
  }
  /* About Page Styles */
  
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
  }
  
  .container {
    max-width: 800px;
  }
  
  .about h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #222;
  }
  
  .about p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: #444;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .footer-logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .footer-logo h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #1d1d1d;
  }
  
  .footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links a {
    color: #444;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .social-media {
    margin-top: 20px;
  }
  
  .social-media a {
    margin-right: 20px;
  }
  
  .social-media img {
    height: 30px;
  }
  
/* Media Query */

@media only screen and (max-width: 1024px) {
    header nav ul {
      padding-left: 20%;
      padding-right: 20%;
    }
  }

@media only screen and (max-width: 768px) {
    header nav ul {
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 2%;
    }
    nav a {
      font-size: 16px;
    }
  }
  